.card--user {
    text-align: left;
    &--name {
        line-height: 16px;
    }
    a {
        text-decoration: none;
        color: #3f51b5;
        
        line-height: 24px;
        font-size: 16px;
    }
}